In [19]:
#Imports
import pandas as pd
import numpy as np
import seaborn as sbs

In [20]:
#Loading the data set
df = pd.read_csv('films_pcd.csv')

In [21]:
#Basic look at the data
df.head()

   ID                 Title     Watched    Year   Genre  Runtime Tier Medium
0   1   The Disaster Artist  2017-12-31  2017.0  Comedy    104.0    A   Home
1   2              The Room  2017-12-31  2003.0   Drama     99.0    A   Home
2   3              I, Tonya  2018-01-05  2017.0  Comedy    121.0    A   Home
3   4  Call Me By Your Name  2018-01-06  2017.0   Drama    132.0    S   Home
4   5             Lady Bird  2018-01-06  2017.0  Comedy     95.0    S   Home

In [22]:
df.shape

(349, 8)

In [23]:
df.Title.value_counts()

Avengers: Infinity War       7
Call Me By Your Name         5
Game Night                   5
The Gunfighter               5
Mad Max Fury Road            4
                            ..
While at War                 1
Baby Driver                  1
Godzilla                     1
Sorry to Bother You          1
Justice League Snyder Cut    1
Name: Title, Length: 253, dtype: int64

In [24]:
df.Genre.value_counts()

Comedy             84
Drama              55
Fantasy            34
Action             34
Horror             34
Adventure          31
Crime              30
Science Fiction    18
Thriller            9
War                 6
Documentary         4
Western             3
Musical             3
Sport               2
Mystery             1
Family              1
Name: Genre, dtype: int64

In [14]:
df.columns

Index(['ID', 'Title', 'Watched', 'Year', 'Genre', 'Runtime', 'Tier', 'Medium'], dtype='object')

In [25]:
df.Tier.value_counts()

A    161
S     97
B     65
C     26
Name: Tier, dtype: int64